<ejs-treegrid
  #treegrid
  [dataSource]="data"
  [enableVirtualization]="true"
  height="700"
  childMapping="Crew"
  [treeColumnIndex]="1"
  [showColumnChooser]="true"
  [toolbar]="toolbar"
  [contextMenuItems]="contextMenuItems"
  (contextMenuOpen)="contextMenuOpen($event)"
  (contextMenuClick)="contextMenuClick($event)"
>
  <e-columns>
    <ng-container *ngFor="let column of columns">
      <e-column
        [field]="column.field"
        [headerText]="column.name"
        width="120"
        textAlign="Right"
      ></e-column>
    </ng-container>
  </e-columns>
</ejs-treegrid>
<app-popup></app-popup>
